body {
    padding-top: 100px;
}

a {
    text-decoration: none !important;
    color: black !important;
}

.bi {
    font-size: 30px;
}

nav {
    background-color: orange;
}

#title {
    font-family: fantasy;
    margin-bottom: 0;
}

.bi-plus-circle {
    color: orange;
}

form {
    max-width: 800px;
}

.form-group {
    margin-bottom: 20px;
}

#priorityInput {
    max-width: 300px;
}
